[submodule "third_party/aloha"]
	path = third_party/aloha
	url = https://github.com/Physical-Intelligence/aloha.git
[submodule "third_party/libero"]
	path = third_party/libero
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
[submodule "third_party/pi-r2-GR00T"]
	path = third_party/pi-r2-GR00T
	url = https://github.com/pi-r2-flow/Isaac-GR00T.git
[submodule "third_party/openpi_tactile"]
	path = third_party/openpi_tactile
	url = https://github.com/Ynao3/openpi_tactile.git
[submodule "third_party/pi06star"]
	path = third_party/pi06star
	url = https://github.com/zywang03/pi06star.git
[submodule "third_party/pi-r2-flow"]
	path = third_party/pi-r2-flow
	url = https://github.com/pi-r2-flow/pi-r2-flow
[submodule "third_party/Robot_Lab"]
	path = third_party/Robot_Lab
	url = https://github.com/YesAI-Manipulation/Robot_Lab.git
	branch = dex_franka
[submodule "third_party/UniVTAC"]
	path = third_party/UniVTAC
	url = git@github.com:Yenomal/UniVTAC.git
[submodule "third_party/flashvla"]
	path = third_party/flashvla
	url = https://github.com/z-lab/flashvla
